<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="favicon.ico" />
	<title>Inventário Mercadinho - Início</title>
	<link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="resources/css/bootstrap-vue.css">
</head>

<body>

	<div id="inicio" class="container-fluid table">

		<div class="row">
			<div class="col-sm-3">
				<h4>Lista de Produtos <b>Details</b></h4>
			</div>
			<div class="col-sm-9">
				<b-button pill variant="primary" v-on:click="telaCadastro"><i class="fa fa-plus"></i>
					Adicionar Produto</b-button>
			</div>
		</div>
		<table>
			<tr>
				<th>Nome</th>
				<th>Fabricante</th>
				<th>Volume</th>
				<th>Unidade</th>
				<th>Estoque</th>
				<th></th>
				<th></th>
			</tr>
			<tbody id="event-table">
				<tr v-for="produto in listaProdutos">
					<td>{{ produto.nome }}</td>
					<td>{{ produto.fabricante.nome }}</td>
					<td>{{ produto.volume }}</td>
					<td>{{ produto.unidade }}</td>
					<td>{{ produto.estoque }}</td>
					<td>
						<span @click="">&#9998;</span>
						<span @click="">&#10006;</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="preloader" style="display: none;" class="alert alert-info">
		Carregando...
	</div>

	<script src="resources/js/vue.js"></script>
	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/index.js"></script>
	<script src="resources/js/cadastro-de-produtos.js"></script>

</body>

</html>